
.input-group {
    margin-top: 8%;
    margin-left: 35%;
}
.input-group-prepend span{
width: 40px;
height: 30px;
margin-left: -15%;
background-color:#4dbf1c;
color: black;
border:0 !important;
}



form #comboEspecies {
    color: gray;
    width: 42.5%;
    height: 30px;
    margin-top: 12%;
    margin-left: 5%;
    
}



form #nom, #monto{
   
   width: 42.3%;
   height: 30px;
   margin-left: 5%;
    margin-top: 8%;
    
}

form #btnSav{
    width: 20%;
    height: 30px;
    color: #fff;
    float: right;
    margin-right: 150px;
    background:  #4dbf1c;
    border:none;
    margin-top: 8%;
   
}


form #combo1 {
    color: gray;
    width: 50%;
    height: 30px;
    margin-top: 3%;
    margin-left: 5%;
    
}
form #nom {
    
    width: 42.3%;
    height: 30px;
    margin-top: 5%;
    margin-left: 5%;
    
}
form #altura, #especie{
   
   width: 42.3%;
   height: 30px;
   margin-left: 5%;
    margin-top: 3%;
    
}
 h2{
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
    font-size: 22px;
}




.texto h2{
    margin-left: 5%;
    text-align: center;
    font-size: 22px;
}

.opc{
    width: 40%;
    height: 11px;
    float: right;
    margin-top: 25px;
    
}
.texto p{
    
    height: 80%;
    width: 30%;
    display: inline-flex;
    
}
.texto #edit,#crear{
   margin-top: 5%;
   margin-left: 5%;
    
}
 #nom {
    
    width: 42.3%;
    height: 30px;
    margin-top: 3%;
    margin-left: 17.2%;
    
}

#combo1,#id {
    
    color: gray;
    width: 30%;
    height: 30px;
    margin-top: 4%;
    margin-left: 5%;
    
}
 #altura, #especie{
   
   width: 42.3%;
   height: 30px;
   margin-left: 5%;
    margin-top: 3%;
    
}

form #btnSave{
    width: 20%;
    height: 25px;
    color: #fff;
    float: right;
    margin-right: 40px;
    background:  #4dbf1c;
    border:none;
    margin-top: -21%;
}

.my-custom-scrollbar {
position: relative;
height: 230px;
overflow: auto;

}
.table-wrapper-scroll-y {
display: block;

}

 th {
    padding: .2em .8em;
    border: 0px solid rgba(1,1,1,0.5);
    background: rgba(10,10,10,0.5);
    text-align: center;
   
}
 td {
    padding: .2em .8em;
    border: 1px solid rgba(1,1,1,0.5);
    background: rgba(10,10,10,.5);
     text-align: center;

}